.circle{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 10px solid red;
    box-shadow: 0 0px 4px 3px grey, inset 0px 0px 4px #000;
   
    
}
.line{
    margin-top: 114px;
    margin-left: 95px;
    height: 80px;
    width: 0;
    border: 1px solid black;
}
.line2{
    margin-top: -83px;
    margin-left: 115px;
    height: 80px;
    width: 0;
    border: 1px solid black;
    -webkit-transform:
    rotate(-27deg);
            
    
}